@keyframes showChoice{
	0%{opacity:.1}
	40%{transform: translate(0px,100px);}
	60%{transform: translate(0px,88px);}
	95% {opacity: .99;}
	100%{transform: translate(0px,100px);}
}

@keyframes togreen{
	0% {background-color: green}
	70%{opacity: 100%}
	100% {opacity: 60%}
}

html, body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height:100%;
	width: 100%;
	display: relative;
	box-sizing: border-box;

	font-family: "Marker Felt", "Times New Roman", "Arial", Times, Serif;
	font-weight: bold;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

*, *:before, *:after {
  box-sizing: inherit;
}


header{
	display: block;
	text-align: center;
	height: 5%;
	margin: 1% 0 2% 0;
	font-size: 2em;
	font-size: 2.2vw;
	border-bottom: solid black 5px;
	position: relative;	
}

.headerText{
	display: inline-block;
	position: absolute;
	bottom: 1.5%;
}

.youText{
	left:7%;
}

.compText{
	right: 4%;
}

.score{
	position: relative;
	display:block;
	text-align: center;
	top: 5%;
	font-size: 4em;
	height: 4%;
}

.points{
	margin: 0 10%;
}

.outerCircle{
	position: relative;
	width:100%;
	margin-top: 20%;
	border: solid black 2px;
	border-radius: 50%;
	z-index: 1;

	flex-grow: 1;

}

.outerCircle:hover{
	background-color: green;
}

.innerCircle{
	position: absolute;
	border-radius: 50%;
	border: solid 1px;
	width: 90%;
	height: 90%;
	background-color: white;
	margin: 5%;
	display:flex;
	justify-content: center;
	align-items: center;
}


.float{
	border-left: solid green 4px;
	border-right: solid green 4px;
	height: 85%;
	width: 13%;
	display:flex;
	justify-content: space around;
	flex-direction: column;
}

.floatLeft{
	float:left;
	margin-left: 2%;
}

.floatRight{
	float: right;
	margin-right: 2%;
}

.rockpicture{
	width:60%;
	height: 60%;
}

.picture2{
	width:50%;
	height: 70%;
}

.picture3{
	width: 100%;
	height: 100%;
}

.status{
	position: relative;
	height: 85.5%;
	width: 100%;
	border-top: solid red 5px;
	border-bottom: solid red 5px;
}

.state{
	display: block;
	position: relative;
	text-align: center;
	top: 15%;
	font-size: 72px;
	font-size: 4em;
}

.image{
	position: absolute;
	top: 15%;
}

.image1{
	left:25%;
	float: left;
}

.image2{
	right: 25%;
	float: right;
}

.fade{
	opacity: .35;
}

.reveal{
	animation-name: showChoice;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
}

.makeGreen{
	animation-name: togreen;
	animation-duration: 1.7s;
	animation-fill-mode: forwards;
}

footer{
	margin: .5%;
	text-align: center;
}
